<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
    <%= CmChallenge::Api.members %>
</p>
  <button> <%= CmChallenge::Absences.new.to_ical%>Test</button>
</body>
</html>